{% extends "template.html" %}
{% block title %}
    Hackathon
{% endblock %}

{% block body %}
<div class="main-body">
    <div class="container main-content">
        <div class="row">
          <div class="col-9">
            <div class="search-box">
                <div class="search-item">Search</div>
            </div>
          </div>
          <div class="col-3 text-right" style="padding-right:100px;">
                <a href="#" class="btn btn-white btn-animate">Upload File  &#8594;</a>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}



