{% extends "template.html" %}
{% block title %}
    Hackathon
{% endblock %}

{% block body %}
<div class="main-body">
    <div class="container">
        <div class="row">
          <div class="col-9">
            <h2 style="margin-top: 100px;">Find Item by search term</h2>
            <div class="search-box" id='search_box'>
            </div>
            <div style='margin-top: 20px;'>
                <input type="text" id="current_search_item" name="filter">
                <button class="btn btn-animate" type="button" onclick="addFilterItem()" name="filter">Add Filter Term</button>
                <button class="btn btn-animate btn-right" type="button" onclick="addFilterItem()" name="submit">Search</button>
            </div>
          </div>
          <div class="col-3 text-right" style="padding-right:100px;">
                <a style="margin-top: 22em;" href="/upload-file" class="btn btn-white btn-animate">Upload File  &#8594;</a>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}



